body {
    font-family: Arial;
    background: #eef2f5;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    margin: 5px;
    padding: 8px;
}

button {
    width: 95%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
